language: python
python: 2.7
env:
  - TOX_ENV=py26selects
  - TOX_ENV=py26poll
  - TOX_ENV=py26epolls
  - TOX_ENV=py27selects
  - TOX_ENV=py27poll
  - TOX_ENV=py27epolls
  - TOX_ENV=py33selects
  - TOX_ENV=py33poll
  - TOX_ENV=py33epolls
matrix:
  allow_failures:
    - env: TOX_ENV=py33selects
    - env: TOX_ENV=py33poll
    - env: TOX_ENV=py33epolls
install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libssl-dev libmysqlclient-dev libpq-dev
  - pip install tox
before_script:
  - "export EVENTLET_DB_TEST_AUTH='{\"psycopg2\": {\"user\": \"postgres\"}, \"MySQLdb\": {\"passwd\": \"\", \"host\": \"localhost\", \"user\": \"root\"}}'"
script:
  - tox -e $TOX_ENV
