recursive-include tests *.py *.crt *.key
recursive-include doc *.rst *.txt *.py Makefile *.png
recursive-include examples *.py *.html
include CONTRIBUTING.md MANIFEST.in NEWS AUTHORS LICENSE README.rst SECURITY.md tox.ini
